html {font-size: 62.5% !important;/*10 ÷ 16 × 100% = 62.5%*/}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
	font-family: "microsoft yahei";
}
/*清除浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

.d_td_3, .d_td_4, .d_td_6{
	position: relative;
	min-height: 1px;
	float: left;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.none{
	display: none;
}

.passengerPerson{
	font-size: 1.6rem;
	text-align: right;
	padding-right: 0.6em;
}

.tipimg{
	width: 93px;
	margin: 0 auto;
}
.tipimg img{
	width: 100%;
}